<div class="section home-section">
    <div class="certbot-logo animated fadeInDown">
        <img src="assets/platform/certman-logo.png" class="certbot-logo-image">
    </div>
    <span class="section-title animated fadeInDown">Welcome to IECSE CertBot2</span>
    <span class="section-subtitle animated fadeInDown">Certificate & Letter Generator</span>

    <md-button class="md-raised md-primary md-cornered get-started-button animated fadeInLeft" style="animation-delay: 1s;" ng-click="myRouter('quickstart')" md-colors="{background: 'blue'}">
        Get Started &nbsp;<md-icon class="material-icons">send</md-icon>
    </md-button>

    <div class="certbot-build">CertBot2 Alpha. <a href="https://github.com/mankybansal/iecse-certbot2" target="_blank">View on GitHub</a></div>
    <div class="copyright">&copy; 2017, IECSE Manipal. All Rights Reserved.</div>
</div>