<div class="section">

    <!--
    <md-toolbar class="md-tall md-primary">
        <img src="assets/platform/certman-logo-white-shadow.png" class="certbot-header-logo">
        <div class="certbot-header-text">IECSE <span style="font-family: Roboto-Thin, sans-serif">CertBot2</span></div>
        &lt;!&ndash;<div class="certbot-header-logout"><i class="fa fa-sign-out"></i>&nbsp; LOGOUT</div>&ndash;&gt;

        <md-button class="md-raised md-primary md-cornered logout-button animated fadeInLeft" style="animation-delay: 1s;" ng-click="myRouter('logout')" md-colors="{background: 'pink'}">
            Logout &nbsp;<md-icon class="material-icons">exit_to_app</md-icon>
        </md-button>

    </md-toolbar>-->

    <div class="certbox-header animated fadeInDown">
        <img src="assets/platform/certman-logo-white-shadow.png" class="certbot-header-logo">
        <div class="certbot-header-text">IECSE <span style="font-family: Roboto-Thin, sans-serif">CertBot2</span></div>
        <div class="certbot-header-logout">LOGOUT&nbsp; <i class="fa fa-sign-out"></i></div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <span class="section-title animated fadeInDown">Let's get started.</span>
    <span class="section-subtitle animated fadeInDown">What would you like to do?</span>

    <br>
    <br>
    <br>

    <div class="menu-container animated fadeInDown">
        <div class="menu-option  animated fadeInLeftBig">
            <div class="menu-option-icon">
                <i class="fa fa-certificate menu-icons"></i>
            </div>
            Manage Certificates
        </div>
        <div class="menu-option  animated fadeInLeftBig">
            <div class="menu-option-icon">
                <i class="fa fa-file-text menu-icons"></i>
            </div>
            Manage Letters
        </div>
        <div class="menu-option  animated fadeInLeftBig">
            <div class="menu-option-icon">
                <i class="fa fa-users menu-icons"></i>
            </div>
            Manage Users & Lists
        </div>
        <div class="menu-option  animated fadeInLeftBig">
            <div class="menu-option-icon">
                <i class="fa fa-gears menu-icons"></i>
            </div>
            Change Settings
        </div>
    </div>

    <div class="certbot-build">CertBot2 Alpha. <a href="https://github.com/mankybansal/iecse-certbot2" target="_blank">View
        on GitHub</a></div>
    <div class="copyright">&copy; 2017, IECSE Manipal. All Rights Reserved.</div>
</div>